body {
	font-family: 'Archivo Narrow', sans-serif;
	display: block;
	margin: 0px;
	padding: 0px;
}

p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4em;
	letter-spacing: -0.1px;
}

section {
	margin: 0px;
}

h1 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	font-size: 80px;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}

h2 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: white;
	text-align: center;
	margin-top: 0;
}

h3 {
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center; 
	font-size:40px;
	margin-bottom: 28px;
}

h4 {
	font-size: 20px;
	line-height: 1.4em;
	margin: 0px;
	margin-bottom: 5px;
}

.header div {
	padding-top: 85px;
	padding-bottom: 155px;
	background-image: url("https://pmdvod.nationalgeographic.com/NG_Video/86/763/190717-south-africa-humpback-whales-comeback-animals.jpg");
	background-size: cover;
}

.middleblock {
	background-color: #053556;
}

.middleblock div {
	padding-top: 1px;
	padding-bottom: 40px;
	background-color: #053556;
	background-size: cover;
	color: white;
	max-width: 960px;
	margin: auto;
}

.middleblock img {
	height:300px;
	width: 400px;
	float: right;
	margin-left: 40px;
	margin-bottom: 20px;
	display: inline;
	border: 1px solid white;
}

ul {
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0;
}

.listblock {
	background-color: #45A8EC;
}

.listblock div {
	max-width: 960px;
	margin: auto;
	padding-top: 20px;
	background-size: #45A8EC;
	padding-bottom: 60px;
}

.listblock li img {
	float: left;
	height: 150px;
	width: 200px;
	margin-right: 12px;
}

li {
	display: inline-block;
	width: 50%;
	height: 174px;
	box-sizing: border-box;
	padding-right: 25px;
}

li p {
	margin: 0px;
}

.bottomblock p {
	font-size: 26px;
	font-weight: 400px;
	color: white;
	text-align: center;
	max-width: 720px;
	margin: auto;
}

.bottomblock div {
	padding-top: 1px;
	padding-bottom: 80px;
	color: white;
	background-color: #1471B1;
}

.footerblock {
	background-color: #053556;
}

.footerblock p {
	font-sixe: 60px;
	font-weight: 600;
	color: white;
}

.footerblock div {
	background-color: #053556;
	padding: 20px;
	max-width: 960px;
	margin: auto;
}