h1 {
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 600;
	font-size: 2em;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #F09713;
	padding: .5em;
	margin: 0 .5em 0 .5em;
}

#begininfo {
	text-align: justify;
	margin: 0 1em 0 1em;
}

#begininfo > div {
	display: inline-block;
}

#begininfo:after {
	content: "";
	width: 100%;
	display: inline-block;
}

h2 {
	display: inline-block;
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 500;
	font-size: .95em;
	color: white;
	background-color: #F09713;
	padding: .7em .5em .7em .5em;
}

h3 {
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 600;
	font-size: 1.5em;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #F09713;
	margin: 1em .5em 1em 2em;
}

h4 {
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 600;
	font-size: 1.5em;
	color: #F09713;
	margin: 1em 1em 0em 3em;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
	margin: 0;
}

p {
	font-size: 1em;
	line-height: 1.1em;
	max-width: 70%;
	margin: 0 1em .7em 4em;
}

ul {
	list-style: circle;
}

ul > li {
	max-width: 70%;
	margin: 0 0 0 3em;
}

ol > li {
	max-width: 70%;
	padding-bottom: 10px;
	margin: 0 1em 0 2.5em;
}

img:first-of-type {
	padding-top: 0;
}

img:last-of-type {
	padding-bottom: 30px;
}

img {
	padding-top: 30px;
	width: 100%;
}

.source {
	text-align: center;
}

.source > a {
	text-decoration: none;
	text-align: center;
	background-color: #F09713;
	color: white;
	padding: 5px;
}
a:hover {
	background-color: white;
	color: #F09713;
}

.footer {
	margin: 10px;
	font-weight: 600;
	color: #F09713;
	text-align: center;
}