h1 {
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 600;
	font-size: 3em;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #F09713;
	padding: .5em;
	margin: 0 .5em 0 .5em;
}

#begininfo {
	text-align: justify;
	margin: 0 1em 0 1em;
}

#begininfo > div {
	display: inline-block;
}

#begininfo:after {
	content: "";
	width: 100%;
	display: inline-block;
}

h2 {
	display: inline-block;
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 500;
	font-size: .95em;
	color: white;
	background-color: #F09713;
	padding: .7em .5em .7em .5em;
}

h3 {
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 600;
	font-size: 2em;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #F09713;
	margin: 1em .5em 1em .5em;
}

h4 {
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 600;
	font-size: 1.5em;
	color: #F09713;
	margin: 1em 2em 1em .5em;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
	margin: 0;
}

p {
	font-size: 1.5em;
	margin: 0 1.5em 0 1em;
}
img {
	width: 100%;
}